InputPrompt
{
  border-radius: 2px;
}

InputPrompt, InputPrompt #prompt, InputPrompt #input
{
  background-color: #333;
  border: none;
}

InputPrompt #prompt
{
  color: #aaa;
  font-weight: bold;
}

InputPrompt #input
{
  color: #fff;
}
