body
{
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.horizontal-flex
{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.vertical-flex
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*
 * Network list
 *
 */

.network-list
{
    flex: 0 100pt;

    margin-right: 8pt;
    border-left: 0;

    display: flex;
    flex-direction: column;
}

.network-list .network
{
    list-style: none;
    padding: 0 8pt 0;
}

.network-list .network .channel
{
    cursor: pointer;
}

.network-list .network .channel.active
{
    font-weight: bold;
}

.network-list .network .channel.unread
{
    color: rgb(0,100,255);
}

.card .group-title
{
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);

    margin-top: 8pt;
    padding: 4pt 8pt 4pt;
    background-color: rgba(0,0,0,0.075);
}

.card .group-title:first-child
{
    border-top: 0;
    margin-top: 0;
    color: rgba(0,0,0,0.8);
}

/*
 * Main view
 *
 */

.main-view
{
    flex: 1;

    display: flex;
    flex-direction: column;
}

.main-view .group-title
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-view .group-title:hover
{
    white-space: normal;
}

.main-view .motd
{
    -webkit-user-select: text;
}
.main-view .motd:not(:empty):before
{
    content: " – ";
}

.main-view #message-list
{
    flex: 1;
    padding: 8pt;
    overflow: auto;
}

.main-view #message-list .message
{
    -webkit-user-select: auto;
    padding-left: 1em;
    text-indent: -1em;

    margin-bottom: 2pt;
}

.main-view #message-list .message .nickname::before { content: "<"; }
.main-view #message-list .message .nickname::after  { content: ">"; }

.main-view #message-list .message .timestamp
{
    color: rgba(0,0,0,0.6);
    float: right;
    text-indent: 0;
    padding: 0 4pt 0;
}

.main-view #message-list .message .nickname
{
    margin: 0 2pt 0;
}

.main-view #input-prompt
{
    border-top: 1px solid rgba(0,0,0,0.15);
    background-color: rgba(0,0,0,0.075);
    padding: 4pt 8pt 4pt;

    display: flex;
    flex-direction: row;
}
.main-view #input-prompt .nickname
{
    color: rgba(0,0,0,0.6);
    font-size: 10pt;
}
.main-view #input-prompt .nickname:after
{
    content: ">";
}
.main-view #input-prompt input
{
    flex: 1;
    font-size: 10pt;
    border: 0;
    background-color: rgba(0,0,0,0);
    padding: 0;
    margin: 0 0 0 4pt;
}

/*
 * User list
 *
 */

.user-list
{
    margin-left: 8pt;
    border-right: 0;
    flex: 0 100pt;
}
